@import "fonts/fonts";
@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/button";

* {
    font-family: "Gilroy" , sans-serif;
}


.container {
    max-width: 950px;
    margin: 0 auto;
}